* {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #3161e0;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

#logo {
    color: white;
    align-self:flex-start;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0 20px;
}

button {
    border-radius: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
}

.loginbutton {
    background-color: white;
    color: black;
    border-style: none;
}

header {
    display: flex;
    background-color: #3161e0;
    justify-content: center;
}

.headerflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 400px;
    color: white;
}

.maintitle {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.description {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;  
    margin-bottom: 40px;
}

.downloadbutton {
    background-color: white;
    margin-right: 20px;
}

.browsermodebutton {
    background-color: black;
    color: white;
}

.picleft {
    width: 900px;
    margin-right: 60px;
}

.textright {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.textbox {
    width: 300px;
    margin-top: 25px;
}

.textbox > h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.textbox > p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.textleft {
    display: flex;
    background-color: #f6f6f6;
    justify-content: center;
}

.picright {
    width: 900px;
    margin-right: 60px;
}

.texttop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

}

.textboxalt {
    margin-top: 25px;
    text-align: center;
}

.textboxalt > h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 20px;
}

.textboxalt > p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 30px;

}

.texttop > h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 20px;
}

.downloadbottom {
    background-color: #8c9edd;
    color: white;
    margin-top: 20px;
}